
<section class="compartilhar-historia">
    <div class="compartilhar-historia-container">

        <div class="area-compartilhar">
            <h2 class="title">Tem uma história para compartilhar?</h2>
            <p class="subtitle">
                Dê voz ao seu relato e construa um <br>
                espaço de acolhimento e compreensão <br>
                para quem precisa de palavras de força<br>
                e esperança nesse momento.
            </p>

            <button class="btn-enviar-historia">Envie sua história</button>
        </div>

        <img src="../../../assets/mulher-lendo.png" alt="Compartilhar História" class="compartilhar-historia-img">
    </div>
</section>
