
<section class="compartilhar-historia">
    <div class="compartilhar-historia-container">

        <div class="area-compartilhar">
            <h1 class="title">Tem uma história para compartilhar?</h1>
            <p class="subtitle">
                Dê voz ao seu relato e construa um
                espaço de acolhimento e compreensão
                para quem precisa de palavras de força
                e esperança nesse momento.
            </p>

            <button class="btn-enviar-historia" (click)="enviarHistoriaFormulario()">Envie sua história</button>
        </div>

        <img src="../../../assets/mulher-lendo.png" alt="Compartilhar História" class="compartilhar-historia-img">
        <button *ngIf="btnResponsivo" class="btn-enviar-historia-responsivo" (click)="enviarHistoriaFormulario()">Envie sua história</button>
    </div>

</section>
