.compartilhar-historia{
  padding: 0 5%;
}

.compartilhar-historia-container {
    display: flex;
    // justify-content: space-around;
    margin: 0 5%;
}

.title{
  font-family: "Sora", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 11% 0 0 0;
  width: 50%;
}

.subtitle{
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  margin: 5% 0;
  width: 50%;
}

.compartilhar-historia-img{
  width: 50%;
}

.btn-enviar-historia{
    background-color: var(--color-strong-pink);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 5% 0;
    padding: 12px 40px;
    text-transform: uppercase;
}

.btn-enviar-historia:hover{
  transform: translateY(-2px);
  transition: .2s ease-in;

}

.btn-enviar-historia-responsivo{
  background-color: var(--color-strong-pink);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 5% 0;
  padding: 12px 40px;
  text-transform: uppercase;
}

.btn-enviar-historia-responsivo:hover{
  transform: translateY(-2px);
  transition: .2s ease-in;

}


@media screen and (max-width: 767px){
    .compartilhar-historia-container{
        flex-wrap: wrap;
        margin: 8%;
    }

    .compartilhar-historia-img{
      width: 100%;
      margin: 5%;
    }

    .title{
      margin: 25% 5% 0;
      width: 105%;
    }

    .subtitle{
      margin: 5%;
      width: 95%;
    }

    .btn-enviar-historia{
      display: none;
    }

    .btn-enviar-historia-responsivo{
      margin: 5%;
    }
}
