<app-navbar></app-navbar>

<main class="pagina-sobre-nos">
  <div class="navegation-pages">
    <p class="nav-home" routerLink="/home">Home</p>
       <span class="material-symbols-outlined icon">
       arrow_forward_ios
    </span>
    <span class="nav-router">Sobre</span>
  </div>
  <!-- Quem somos-->
  <section class="quem-somos">
    <div class="text">
      <h1 class="title">Quem <span class="mark title">somos</span></h1>
    </div>
    <img class="folhas" src="../../assets/folhas-bg.png" alt="folhas">
    <div class="container-quem-somos">
        <p>
          Somos um projeto dedicado a oferecer apoio, compreensão e esperança <br>
          para pais que enfrentam o desafio do luto parental.<br>
          Nossa jornada começou a partir da compreensão profunda da dor e da perda<br>
           que acompanham o luto parental. Conhecemos em primeira mão as lágrimas<br>
           silenciosas, as perguntas sem resposta e a sensação avassaladora de vazio<br>
           que pode se instalar após a partida de um filho amado. Movidos pelo desejo<br>
            de fazer a diferença na vida de outras pessoas, decidimos criar este espaço<br>
            de apoio, esperança e cura.
        </p>
        <img class= "imagem-container" src="../../assets/mulher-abracando.png" alt="">
    </div>
    <div class="cultura">
        <div class="card card-cultura">
          <h2>Visão</h2>
          <p>Criar uma comunidade de apoio e compreensão para aqueles que estão lidando com o luto parental</p>
        </div>
        <div class="card card-cultura">
          <h2>Missão</h2>
          <p>Oferecer informações abrangentes, histórias inspiradoras, conselhos práticos e uma comunidade solidária.</p>
        </div>
        <div class="card card-cultura">
          <h2>Valores</h2>
          <p>Compreender, respeitar e apoiar sua jornada de luto</p>
        </div>
    </div>
  </section>
  <!--Nossa história-->
  <section class="nossa-historia">
    <div class="text">
      <h1 class="historia">Nossa <span class="mark">história</span></h1>
    </div>
    <div class="container">
      <div class="card-historico verde">
        <h2>2024</h2>
        <p>Neste ano nos tornamos um farol de esperança para milhares de pais em luto em todo o mundo. Nossa plataforma online, repleta de recursos informativos, tornou-se um refúgio seguro onde os pais podem compartilhar suas histórias </p>
      </div>
      <div class="card-historico pontilhado">
        <h2>2023</h2>
        <p>Testemunhamos a criação de laços profundos de solidariedade e empatia entre os membros de nossa comunidade. Pais que antes se sentiam isolados e desamparados agora encontram consolo na companhia de outros que compartilham suas experiências</p>
      </div>
    </div>
  </section>
  <!--Nossa equipe-->
  <section class="nossa-equipe">
    <div class="text">
      <h1 class="title">Nossa <span class="mark title">equipe</span></h1>
    </div>
   <div class="container-sobre">
          <div class="container-vertical">
          </div>
          <div class="info">
            <img src="../assets/img/sobre/Fernando.png" alt=""class="membro-foto">
            <div class="membro-info">
              <h2>Fernando</h2>
              <h5>Developer | Lorem Ipsum</h5>
              <br><br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<br></p>
            </div>
            <img src="../assets/img/sobre/padrao.png" alt="" class="img-padrao">
          </div>

    </div>
  </section>
  <app-newslatter></app-newslatter>
</main>
<app-footer></app-footer>

