<nav class="navbar">
  <!--  =================== NAVBAR CONTAINER ===================  -->
  <div class="navbar-container">

    <div class="top-nav">
      <div class="top-container">
        <!--  =================== SOCIAL MEDIA ===================  -->
        <div class="social-media">
          <!--  =================== SOCIAL LIST ===================  -->
          <ul class="social-list">
            <!--  =================== SOCIAL LINKS ===================  -->
            <li class="social-links">
              <i class="icon fa-brands fa-instagram"></i>
            </li>

            <li class="social-links">
              <i class="icon fa-brands fa-facebook-f"></i>
            </li>
            <li class="social-links">
              <i class="icon fa-brands fa-x-twitter"></i>
            </li>
          </ul>
        </div>

        <!--  =================== TOPICS TOP INFO ===================  -->
        <div class="top-info">
            <!--  =================== TOP INFO MENU ===================  -->
            <ul class="top-info-menu">
              <!--  =================== TOP INFO LINKS ===================  -->
              <!-- <li>
                <a class="top-info-links" href="">SOBRE</a>
              </li>

              <li>
                <a class="top-info-links" href="">O QUE FAZEMOS</a>
              </li>

              <li>
                <a class="top-info-links" href="">CONTATO</a>
              </li> -->
            </ul>
        </div>
      </div>
    </div>

    <!--  =================== NAVBAR MENU ===================  -->
    <div class="nav-menu">

      <div class="nav-menu-content">
        <!--  =================== NAV LOGO AREA ===================  -->
        <div class="logo-area navbar-brand">
          <a>
            <h2 style="cursor: pointer;" routerLink="/home">LOGO</h2>
            <!-- <img src="" alt=""> -->
          </a>
          <button class="btn-toggle" *ngIf="toggleButton" (click)="toggleNavbar()">
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>

        <!--  =================== NAVBAR LINKS ===================  -->
        <ul class="menu-links" *ngIf="!mostrarNavbar">
          <!-- <li>
            <a class="nav-links">
              Assistências
            </a>
          </li>

          <li>
            <a class="nav-links">
              Plantões psicológico
            </a>
          </li> -->

          <li>
            <a class="nav-links" routerLink="/depoimentos" routerLinkActive="active">
              Depoimentos
            </a>
          </li>

          <li>
            <a class="nav-links" routerLink="/direitos" routerLinkActive="active">
              Direitos
            </a>
          </li>

          <li>
            <a class="nav-links" routerLink="/noticias" routerLinkActive="active">
              Notícias
            </a>
          </li>

          <li>
            <a class="nav-links" routerLink="/sobre" routerLinkActive="active">
              Sobre
            </a>
          </li>


          <li>
            <a class="nav-links"  routerLink="/como-ajudar" routerLinkActive="active">
              Como Ajudar
            </a>
          </li>

          <li>
            <a class="nav-links" routerLink="/oque-fazemos" routerLinkActive="active">
              O que fazemos
            </a>
          </li>

          <li>
            <a class="nav-links" routerLink="/contato" routerLinkActive="active">
              Contato
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</nav>
