<nav class="navbar">
  <div class="navbar-container">

    <div class="top-nav">
      <div class="top-container">

        <!--  =================== SOCIAL MEDIA ===================  -->
        <div class="social-media">
          <ul class="social-list">
            <li class="social-links">
              <i class="icon fa-brands fa-instagram"></i>
            </li>
            <li class="social-links">
              <i class="icon fa-brands fa-facebook-f"></i>
            </li>
            <li class="social-links">
              <i class="icon fa-brands fa-x-twitter"></i>
            </li>
          </ul>
        </div>

        <div class="top-info">
            <ul class="top-info-menu">
              <li>
                <a class="top-info-links" href="">SOBRE</a>
              </li>

              <li>
                <a class="top-info-links" href="">O QUE FAZEMOS</a>
              </li>

              <li>
                <a class="top-info-links" href="">CONTATO</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>


</nav>
