<app-navbar></app-navbar>
<main>
  <div class="navegation-pages">
    <p class="nav-home" routerLink="/home">Home</p>

    <span class="material-symbols-outlined icon">
       arrow_forward_ios
    </span>

    <p class="nav-home" routerLink="/{{rotaAtiva}}">{{this.rotaNome}}</p>

    <span class="material-symbols-outlined icon">
      arrow_forward_ios
    </span>

    <p class="nav-router">{{this.titulo}}</p>
  </div>

  <div class="text">
    <h1 class="title">{{this.title}} <span class="mark title">{{this.markTitle}}</span></h1>
    <p class="descricao">
      {{this.descricao}}
    </p>
  </div>
  <section class="noticia-selecionada">



    <div class="informacoes">
      <div class="pagina-noticias__noticias__botao">
        <button>
          <label for="categorias">Filtrar por categoria:</label>
          <select>
            <option value="#"></option>
            <option *ngFor="let categoria of categorias" [value]="categoria.categoria">
              {{ categoria.categoria }}
            </option>
          </select>
        </button>
      </div>

     <div class="title-noticia">
        <p class="data">{{this.data.toString() | date: 'dd/MM/yyyy'}}</p>
        <h1>{{this.titulo}}</h1>
      </div>

      <p class="detalhes" style="text-align: justify;">{{this.texto}}</p>

      <div class="img">
        <img [src]="'assets/img/page-noticias/' + this.img + '.svg'" alt="Imagem da notícia" />
        <!-- <p class="img_detalhe">Representação do estado da saúde mental</p> -->
      </div>

      <p class="detalhes-baixo">{{this.texto}}</p>

    </div>
  </section>

  <app-ver-noticias-artigos [noticia]="noticia" [tag]="tag"></app-ver-noticias-artigos>
  <app-newslatter></app-newslatter>
</main>

<!--  =================== SCROLL TO TOP ===================  -->
<app-scroll-top></app-scroll-top>

<app-footer></app-footer>
