<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->

<!--  =================== NAVBAR ===================  -->
<app-navbar></app-navbar>

<!--  =================== DIREITOS ===================  -->
<main class="direitos-area">
  <div class="direitos-container">

    <!--  =================== NAVIGATION PAGES ===================  -->
    <div class="navegation-pages">
      <p class="nav-home" routerLink="/home">Home</p>
      <span class="material-symbols-outlined icon">
        arrow_forward_ios
      </span>
      <span class="nav-router" routerLink="/direitos" routerLinkActive="active">Direitos</span>
    </div>

    <!--  =================== TEXTOS DIREITOS ===================  -->
    <div class="texts-direitos">
      <h1 class="title-direitos">Mural de <span class="mark-title">direitos</span></h1>
      <p class="subtitle-direitos">
        Conheça os principais direitos relacionados à <strong class="mark-title">Saúde</strong>  e à <strong class="mark-title">Assistência Social</strong> no contexto do luto perinatal e
        também os caminhos para buscar a Justiça, caso seus direitos não sejam respeitados.
      </p>
    </div>

    <!--  =================== MURAL DE DIREITOS ===================  -->
    <section class="mural-direitos">
      <!--  =================== FILTRO BUTTON ===================  -->
      <div class="pagina-noticias__noticias__botao">
        <button>
          <label for="direitos">Filtrar por categoria:</label>
          <select id="direitos">
            <option value="#"></option>
            <option *ngFor="let categoria of categorias" [value]="categoria.categoria">
              {{ categoria.categoria }}
            </option>
          </select>
        </button>
      </div>

      <div class="line-separator" style="border: 1px solid var(--color-text); width: 100%; margin: 4% 0"></div>

      <div class="mural-container" *ngIf="dadosDaPaginaAtual">
        <!--  =================== CARD HISTÓRIAS ===================  -->
        <div class="card" *ngFor="let direito of dadosDaPaginaAtual">
          <div class="card-content">

            <img class="card-img" [src]="'assets/img/page-noticias/' + direito.img + '.svg'" alt="Imagem SVG" />


            <div class="card-info" style="border-left: 2px solid var(--color-strong-green); border-bottom: 2px solid var(--color-strong-green);">

              <div class="card-cabecalho">
                  <p class="data">{{direito.dataHora | date: 'dd/MM/yyyy'}}</p>
                  <!-- <a href="" class="tags">Notícia</a> -->
              </div>

              <h3 class="title-card">{{direito.titulo}}</h3>
              <p class="subtitle-card">{{direito.texto | limitarPalavras: 222}}</p>

              <a class="btn-lerMais" (click)="selecionarInformacao(direito.id, direito.idTipoInformacao, direito.titulo, direito.texto, direito.dataHora, direito.img)">
                <p class="btn-text">Leia mais</p>
                <span class="icon-arrow material-symbols-outlined">
                  arrow_forward_ios
                </span>
              </a>

            </div>
          </div>
        </div>
      </div>

      <div class="paginators">
        <button (click)="carregarProximaPagina(false)" class="btn-voltar" [disabled]="!voltarPagina">
          <span class="material-symbols-outlined icon-voltar">
            arrow_back_ios
          </span>
        </button>

        <span class="number-page"
          *ngFor="let paginas of totalPaginasArray"
          [ngClass]="{'page-active': paginaAtual === paginas}"
          >{{paginas}}
        </span>

        <button (click)="carregarProximaPagina(true)" class="btn-passar" [disabled]="!avancarPagina">
          <span class="material-symbols-outlined icon-avancar">
            arrow_forward_ios
          </span>
        </button>
      </div>
    </section>

    <!--  =================== COMPARTILHAR HISTÓRIAS AREA ===================  -->
    <app-compartilhar-historia></app-compartilhar-historia>

    <!--  =================== VER NOTICIAS E ARTIGOS ===================  -->
    <app-ver-noticias-artigos [noticia]="noticia" [tag]="tag"></app-ver-noticias-artigos>

    <!--  =================== NEWSLATTER ===================  -->
    <app-newslatter></app-newslatter>
  </div>
</main>

<!--  =================== SCROLL TO TOP ===================  -->
<app-scroll-top></app-scroll-top>

<!--  =================== FOOTER ===================  -->
<app-footer></app-footer>
