<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!--  =================== VER NOTÍCIAS SECTION ===================  -->
<section class="ver-direitos">
  <!--  =================== TITLE VER NOTÍCIAS ===================  -->
  <div class="title-area">

    <div class="main-text">
      <h1 class="title">Veja seus
        <span class="mark-title">Direitos</span>
      </h1>

      <p class="subtitle-area">
        Conheça os principais direitos relacionados
        à Saúde e à Assistência Social no contexto
        do luto parental.
      </p>
    </div>


    <a href="#" class="btn-ver" routerLink="/direitos">Ver todos</a>
  </div>

  <div class="container-direitos">
    <!--  =================== CARD NOTÍCIAS ===================  -->
    <div class="card" *ngFor="let direito of direitos">
      <div class="card-content">

        <img class="card-img" [src]="'assets/img/page-noticias/' + direito.img + '.svg'" alt="Imagem SVG" />


        <div class="card-info" style="border-left: 2px solid var(--color-strong-green); border-bottom: 2px solid var(--color-strong-green);">

          <div class="card-cabecalho">
              <p class="data">{{direito.dataHora | date: 'dd/MM/yyyy'}}</p>
              <!-- <a href="" class="tags">Notícia</a> -->
          </div>

          <h3 class="title-card">{{direito.titulo}}</h3>
          <p class="subtitle-card">{{direito.texto | limitarPalavras: 222}}</p>

          <a class="btn-lerMais" (click)="selecionarInformacao(direito.id, direito.idTipoInformacao, direito.titulo, direito.texto, direito.dataHora, direito.img)">
            <p class="btn-text" >Leia mais</p>
            <span class="icon-arrow material-symbols-outlined">
              arrow_forward_ios
            </span>
          </a>

        </div>
      </div>
    </div>
  </div>

  <!--  =================== BUTTON VER DIREITOS RESPONSIVO  ===================  -->
  <div class="btn-responsivo" *ngIf="btnResponsivo">
    <a href="#" class="btn-ver-responsiva">Ver todos</a>
  </div>

</section>
