<!--  =================== VER NOTÍCIAS SECTION ===================  -->
<section class="ver-direitos">
  <!--  =================== TITLE VER NOTÍCIAS ===================  -->
  <div class="title-area">

    <div class="main-text">
      <h1 class="title">Veja seus
        <span class="mark-title">Direitos</span>
      </h1>

      <p class="subtitle-area">
        Conheça os principais direitos relacionados
        à Saúde e à Assistência Social no contexto
        do luto parental.
      </p>
    </div>


    <a href="#" class="btn-ver">Ver todos</a>
  </div>

  <div class="container-direitos">
    <!--  =================== CARD NOTÍCIAS ===================  -->
    <div class="card">
      <div class="card-content">

        <img src="../../../assets/image 2.png" alt="" class="card-img">

        <div class="card-info" style="border-left: 2px solid var(--color-strong-pink); border-bottom: 2px solid var(--color-strong-pink);">

          <div class="card-cabecalho">
              <p class="data">27/11/2023</p>
              <a href="" class="tags">Notícia</a>
          </div>

          <h3 class="title-card">Meu sonho de ser mãe e as tentativas pela maternidade</h3>
          <p class="subtitle-card">
            Desde sempre sonhava em ser
            mãe, mas as tentativas frustadas
            me deixam bastante triste. A cada
            tentativa que dá errado é um
            aperto em meu coração e a
            incerteza de que meu sonho...
          </p>

          <a href="" class="btn-lerMais">
            <p class="btn-text">Leia mais</p>
            <span class="icon-arrow material-symbols-outlined">
              arrow_forward_ios
            </span>
          </a>

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">

        <img src="../../../assets/image 2.png" alt="" class="card-img">

        <div class="card-info" style="border-left: 2px solid var(--color-strong-blue); border-bottom: 2px solid var(--color-strong-blue);">

          <div class="card-cabecalho">
              <p class="data">27/11/2023</p>
              <a href="" class="tags" style="background-color: var(--color-strong-blue); color: #f6f6f6;">Artigo</a>
          </div>

          <h3 class="title-card">Meu sonho de ser mãe e as tentativas pela maternidade</h3>
          <p class="subtitle-card">
            Desde sempre sonhava em ser
            mãe, mas as tentativas frustadas
            me deixam bastante triste. A cada
            tentativa que dá errado é um
            aperto em meu coração e a
            incerteza de que meu sonho...
          </p>

          <a href="" class="btn-lerMais">
            <p class="btn-text">Leia mais</p>
            <span class="icon-arrow material-symbols-outlined">
              arrow_forward_ios
            </span>
          </a>

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">

        <img src="../../../assets/image 2.png" alt="" class="card-img">

        <div class="card-info" >

          <div class="card-cabecalho">
              <p class="data">27/11/2023</p>
              <a href="" class="tags">Notícia</a>
          </div>

          <h3 class="title-card">Meu sonho de ser mãe e as tentativas pela maternidade</h3>
          <p class="subtitle-card">
            Desde sempre sonhava em ser
            mãe, mas as tentativas frustadas
            me deixam bastante triste. A cada
            tentativa que dá errado é um
            aperto em meu coração e a
            incerteza de que meu sonho...
          </p>

          <a href="" class="btn-lerMais">
            <p class="btn-text">Leia mais</p>
            <span class="icon-arrow material-symbols-outlined">
              arrow_forward_ios
            </span>
          </a>

        </div>
      </div>
    </div>
  </div>

  <!--  =================== BUTTON VER DIREITOS RESPONSIVO  ===================  -->
  <div class="btn-responsivo" *ngIf="btnResponsivo">
    <a href="#" class="btn-ver-responsiva">Ver todos</a>
  </div>

</section>
