<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Conteúdo central  -->
<main class="pagina-noticias">
  <!-- Introdução -->
  <section class="pagina-noticias__introducao">
    <h2>Quadro de notícias</h2>
    <p>
      Acompanhe sobre as últimas notícias sobre o luto parental, artigos, leis de apoio aos pais aos pais enlutados e
      muito mais.
    </p>
    <label>Filtrar por categoria:</label>
    <select>
      <option>teste</option>
    </select>
  </section>
  <!-- Notícias -->
  <section class="pagina-noticias__noticias">

  </section>
  <!-- Histórias -->
  <aside class="pagina-noticias__historias">
    <h2>Veja Histórias reais</h2>
    <p>Torne mais leve o sofrimento do luto e perceba que você não está sozinho.</p>
    <button>VEJA TODAS</button>
  </aside>
  <!-- Newsletter -->
  <footer class="pagina-noticias__newsletter">
    <div>
      <h2>Receba notícias</h2>
      <p>Fique por dentro de nossa programação, artigos e notícias.</p>
    </div>
    <div>
      <input placeholder="Nome">
      <input placeholder="E-mail">
      <input type="checkbox">
      <label>Concordo com os Termos de Privacidade.</label>
      <button>ENVIAR</button>
    </div>
  </footer>
</main>
<!-- Footer -->
<app-footer></app-footer>
