<footer class="section-footer">
  <div class="container-footer">

   <!--  =================== FOOTER LOGO ===================  -->
    <div class="footer-logo">
   <!--  =================== LOGO AREA ===================  -->
      <div class="logo-area">
        <!-- <img class="logo-img" src="" alt=""> -->
        <h2>LOGO</h2>
        <h3 class="subtitle">
          Fortalecidos pelo apoio, transformando a dor em esperança.
        </h3>
      </div>

   <!--  =================== SOCIAL MEDIA ===================  -->
      <div class="social-media">
        <ul class="social-list">
          <li class="social-links">
            <i class="icon fa-brands fa-instagram"></i>
          </li>
          <li class="social-links">
            <i class="icon fa-brands fa-facebook-f"></i>
          </li>
          <li class="social-links">
            <i class="icon fa-brands fa-x-twitter"></i>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-itens">
      <!--  =================== INFO 1 ===================  -->
       <!-- <div class="footer-info">
           <ul class="footer-menu">
             <li>
               <h3 class="info-title">Assistência</h3>
             </li>
             <li class="footer-links">Rodas de Apoio</li>
             <li class="footer-links">Plantão Psicológico</li>
           </ul>
       </div> -->

      <!--  =================== INFO 2 ===================  -->
       <div class="footer-info">
         <ul class="footer-menu">
           <li>
             <h3 class="info-title">Depoimentos</h3>
           </li>
           <li class="footer-links">Mural</li>
           <li class="footer-links">Envie a sua história</li>
         </ul>
       </div>

      <!--  =================== INFO 3 ===================  -->
       <div class="footer-info">
           <ul class="footer-menu">
             <li>
               <h3 class="info-title">Notícias</h3>
             </li>
             <li class="footer-links">Artigos</li>
             <li class="footer-links">Informações</li>
             <li class="footer-links">Direitos</li>
           </ul>
       </div>
      <!--  =================== INFO 4 ===================  -->
       <div class="footer-info">
           <ul class="footer-menu">
             <li>
               <h3 class="info-title">Sobre</h3>
             </li>
             <li class="footer-links">Quem somos</li>
             <li class="footer-links">Nossa história</li>
             <li class="footer-links">Termos de uso</li>
             <li class="footer-links">Políticas de privacidade</li>
           </ul>
       </div>
    </div>

  </div>

  <div class="copyrights">
    <p class="all-rights">Copyright © 2024 Luto Parental. Todos os direitos reservados.</p>
  </div>
</footer>
