

// =================== NAVEGATION PAGES AREA ===================
.navegation-pages{
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  gap: .2rem;
  margin: 5% 5% 0;
 }


 .nav-home, .nav-router{
  cursor: pointer;
 }


 .icon{
  font-size: 14px;
  transform: translateY(4px);
 }


 .active{
  color: var(--color-strong-pink);
 }




 // =================== COMO AJUDAR TITLE ===================
 .texts-oque-fazemos{
  font-family: "Sora", sans-serif;
  margin: 25px 5%;
 }

 .title-oque-fazemos{
  font-size: 38px;
 }

 .subtitle-oque-fazemos{
  text-align: justify;
  font-size: 18px;
  margin: 50px 0;
  width: 50%;
 }


 .mark-title{
  color: var(--color-strong-pink);
 }




 // =================== MURAL DE O QUE FAZEMOS ===================
 .mural-oque-fazemos{
  background-color: var(--color-light-pink);
  margin: 5% 0 10%;
  opacity: 90%;
  padding: 3% 0;
 }


 .mural-container-oque-fazemos{
  gap: 2rem;
  margin: 5%;
  padding: 0 5%;
  justify-content: center;
  align-items: center;
 }


 .info-text{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  justify-content: center;
  text-align: justify;
}



 .info-oque-fazemos{
  display: flex;
  margin: 5%;
  padding: 0 5%;
  gap: 2rem;
  justify-content: center;
 }


 .contribuicao{
  font-family: 'Open Sans', sans-serif;
 }


 .img-ajuda{
  width: 150%;
 }


 // =================== PONTOS IMPORTANTES SOBRE O QUE FAZEMOS ===================

 .pontos-importantes, .lado-esquerdo{
  display: flex;
 }


 .lado-direito{
  display: flex;
  flex-direction: row-reverse;
 }

 .content{
  display: flex;
 }

 .img-esquerdo{
   width: 55%;
 }

 .img-direito{
  transform: translateY(50px);
  width: 55%;
 }

 .card-esquerdo{
  align-items: center;
  background-color: var(--color-strong-green);
  border-radius: 25px 50px;
  height: 300px;
  justify-content: center;
  // margin: 10% 0;
  transform: translateY(120px);
  padding: 12%;
  width: 350px;

 }

 .card-direito{
  border: 2px dashed var(--color-strong-green);
  border-radius: 25px 50px;
  height: 300px;
  padding: 18%;
  // margin: 10% 0;
  padding: 8%;
  width: 350px;
 }


 // =================== MURAL HISTÓRIAS ===================
 .mural-historia{
  background-color: var(--color-strong-pink);
  margin: 5% 0 10%;
  opacity: 90%;
  padding: 3% 0;
 }


 .mural-container{
  display: flex;
  justify-content: center;
  position: relative;
 }




 .title-historia{
  text-align: center;
  text-transform: uppercase;
  font-family: "Sora", sans-serif;
  font-weight: 700;
 }


 .folhas-bg{
  bottom: 0;
  left: 0;
  position: absolute;
  transform: translateY(32%);
  width: 40%;
 }


  // ======== CARD AREA ========
  .card-shadow::after {
    background: var(--color-strong-green);
    border-radius: 50px;
    border-end-end-radius: 25px;
    bottom: 3px;
    content: "";
    //Medidas do card sem imagem
    height: 290px;
    // height: 400px;
    margin: 0 0 6%;
    position: absolute;
    right: 3px;
    top: 0;
    width: 325px;
    z-index: -1;
  }


  .card{
    background: var(--color-white);
    border-radius: 50px;
    border-end-end-radius: 25px;
    //Medidas do card sem imagem
    height: 280px;
    // height: 400px;
    margin: 5%;
    position: relative;
    width: 320px;
  }


  .card-content{
    padding: 10px;
  }


  .card-img{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    width: 100%;
  }
  // ======== TEXT AREA CARD ========
  .card-info{
    //Medidas do card sem imagem
    margin: 15% 5%;
    // margin: 5% 0;
  }


  .title-card{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    // width: 80%;
  }


  .subtitle-card{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: justify;
    margin: 5% 0;
    width: 95%;
  }


  // ======== BUTTONS CARDS ========
  .btn{
    overflow: hidden;
    position: relative;
    transition: .5 ease-in-out;
  }


  .btn::before{
    background-color: var(--color-strong-green);
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    transition: .8s ease;
    width: 100%;
    z-index: -1;
  }


  .btn-lerMais{
    background: none;
    border: 1px solid var(--color-text);
    border-radius: 50px 50px 25px 50px;
    color: var(--color-text);
    cursor: pointer;
    font-size: 12px;
    height: 19px;
    padding: 2px 15px;
    text-decoration: none;
    left: 70%;
    width: 85px;
    z-index: 0;
  }


  .btn-lerMais::before{
    bottom: 0;
    border-radius: 50px 50px 25px 50px;
  }


  .btn-lerMais:hover{
    border: 1px solid var(--color-strong-green);
    color: var(--color-white);
  }


  .btn-lerMais:hover::before{
    height: 100%;
  }
  // ======== BUTTON & SLIDERS  MURAL AREA ========
  .btn-area{
    display: flex;
    justify-content: space-between;
    margin: 0 12%;
    position: relative;
    justify-content: flex-end;
  }


  .indicators{
    border: 1px solid var(--color-strong-blue);
    border-radius: 50%;
    cursor: pointer;
    height: 13px;
    margin: 0 5px;
    width: 13px;
  }


  .btn-ver-historia{
    background-color: var(--color-strong-green);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: var(--color-white);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 10px 40px;
    margin: 0 5%;
    text-transform: uppercase;
    text-decoration: none;
  }


  .btn-ver-historia:hover{
    transform: translateY(-2px);
    transition: .2s ease-in;
  }


