/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';

:root {

  /* ============ Cores principais ============ */
  --color-strong-pink: #D9B2A9;
  --color-strong-pink-op90: #d9b2a9e4;
  --background-color: #F4EEED;
  --color-light-pink: #F2DBD5;
  --color-strong-green: #A5A68F;

  /* ============ Cores secundárias  ============ */
  --color-white: #FFFF;
  --color-ice-white: #F6F6F6;
  --color-light-green: #EAEBD4;
  --color-strong-blue: #60748D;
  --color-text: #000000;

}

::selection{
  background: var(--color-strong-pink);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  background-color: var(--background-color);
}


li{
  list-style: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
