<section class="newslatter">
  <div class="container-news">

    <div class="text-area">
      <h2 class="title">Receba notícias</h2>
      <p class="subtitle">Fique dentro de nossa<br>programação, artigos e notícias</p>
    </div>

    <div class="form-news">
      <div class="btn-area">
        <input type="text" class="nome" placeholder="Nome">
        <input type="email" class="email" placeholder="Email">

        <div class="termos-section">

          <div class="termos-privacidade">
            <label class="termos-area">
              <input type="checkbox" class="check" name="termos" id="term">
               Concordo com os
               <a class="termos" href="#" target="_blank">Termos de Privacidade.</a>
            </label>
          </div>

          <button class="btn btn-enviar" type="submit">ENVIAR</button>
        </div>

      </div>
    </div>
  </div>
</section>
