<section class="newslatter">
  <div class="container-news">

    <div class="text-area">
      <h2 class="title">Receba notícias</h2>
      <p class="subtitle">Fique dentro de nossa<br>programação, artigos e notícias</p>
    </div>

    <form action="" class="form-news"  [formGroup]="newsForm" (ngSubmit)="enviar(newsForm)" #formDir="ngForm">
      <div class="form-area">

        <input type="text" class="nome" placeholder="Nome" formControlName="nome" required>
        <input type="email" class="email" placeholder="Email" formControlName="email" required>

        <div class="termos-section">

          <div class="termos-privacidade">
            <label class="termos-area">
              <input type="checkbox" class="check" name="termos" id="term">
               Concordo com os
               <a class="termos" href="#" target="_blank">Termos de Privacidade.</a>
            </label>
          </div>

          <button class="btn btn-enviar"  type="button"
          [formaction]="newsForm"
          (click)="enviar(newsForm)"
          [disabled]="!formPreenchido()"
          >
            ENVIAR
          </button>
        </div>

      </div>
    </form>
  </div>
</section>
