
<!--  =================== NAVBAR AREA ===================  -->
<app-navbar></app-navbar>

<main class="home-page">

   <!--  =================== COMO PODEMOS AJUDAR AREA ===================  -->
   <section class="como-podemos-ajudar">
    <div class="ajudar-container">

      <img src="../../../assets/mulher-abracando-2.png" alt="" class="ajuda-img">

      <div class="area-ajudar">
        <h2 class="title">Como podemos lhe ajudar ?</h2>
        <p class="subtitle">
          Oferecemos um espaço seguro e acolhedor para que você
          possa compartilhar suas vivências, encontrar conforto e
          construir esperança.
        </p>

        <p class="subtitle">
          Oferecemos um espaço seguro e acolhedor para que você
          possa compartilhar suas vivências, encontrar conforto e
          construir esperança.
        </p>

        <button class="btn-ajuda">Saiba mais</button>
      </div>
    </div>
  </section>

  <section class="mural-historia">
    <h2 class="title-historia">Histórias Reais</h2>
    <div class="mural-container">
      <div class="card-shadow"></div>
      <div class="card">
        <div class="card-content">
          <!-- <img src="../../../assets/image 2.png" alt="" class="card-img"> -->

          <div class="card-info">
            <h3 class="title-card">Meu sonho de ser mãe e as tentativas pela maternidade</h3>
            <p class="subtitle-card">
              Desde sempre sonhava em ser
              mãe, mas as tentativas frustadas
              me deixam bastante triste. A cada
              tentativa que dá errado é um
              aperto em meu coração e a
              incerteza de que meu sonho...
            </p>
            <a href="" class="btn-lerMais">Ler mais</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-shadow"></div>
        <div class="card-content">
          <!-- <img src="../../../assets/image 2.png" alt="" class="card-img"> -->

          <div class="card-info">
            <h3 class="title-card">Meu sonho de ser mãe e as tentativas pela maternidade</h3>
            <p class="subtitle-card">
              Desde sempre sonhava em ser
              mãe, mas as tentativas frustadas
              me deixam bastante triste. A cada
              tentativa que dá errado é um
              aperto em meu coração e a
              incerteza de que meu sonho...
            </p>
            <a href="" class="btn-lerMais">Ler mais</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-shadow"></div>
        <div class="card-content">
          <!-- <img src="../../../assets/image 2.png" alt="" class="card-img"> -->

          <div class="card-info">
            <h3 class="title-card">Meu sonho de ser mãe e as tentativas pela maternidade</h3>
            <p class="subtitle-card">
              Desde sempre sonhava em ser
              mãe, mas as tentativas frustadas
              me deixam bastante triste. A cada
              tentativa que dá errado é um
              aperto em meu coração e a
              incerteza de que meu sonho...
            </p>
            <a href="" class="btn-lerMais">Ler mais</a>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-area">
      <div class="sliders-container">
        <span class="indicators"></span>
      </div>

      <a class="btn-ver-historia">Veja Todos</a>
    </div>
  </section>

   <!--  =================== COMPARTILHAR HISTÓRIA AREA ===================  -->
  <app-compartilhar-historia></app-compartilhar-historia>

  <app-ver-noticias-artigos></app-ver-noticias-artigos>

  <!--  =================== NEWSLATTER AREA ===================  -->
  <app-newslatter></app-newslatter>
</main>

<!--  =================== FOOTER AREA ===================  -->
<app-footer></app-footer>

