<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!--  =================== NAVBAR ===================  -->
<app-navbar></app-navbar>

<!--  =================== DEPOIMENTOS ===================  -->
<main class="depoimentos-area">
  <div class="depoimentos-container">

    <!--  =================== NAVIGATION PAGES ===================  -->
    <div class="navegation-pages">
      <p class="nav-home" routerLink="/home">Home</p>
      <span class="material-symbols-outlined icon">
        arrow_forward_ios
      </span>
      <span class="nav-router" routerLink="/depoimentos" routerLinkActive="active">Depoimentos</span>
    </div>

    <!--  =================== TEXTOS DEPOIMENTOS ===================  -->
    <div class="texts-depoimentos">
      <h1 class="title-depoimentos">Mural de <span class="mark-title">histórias</span></h1>
      <p class="subtitle-depoimentos">
        Você não está sozinho(a). Receba e ofereça apoio na companhia
        de outros cuidadores que compreendem a sua dor.
      </p>
    </div>

    <!--  =================== MURAL DE HISTÓRIAS ===================  -->
    <section class="mural-historias">
      <!--  =================== FILTRO BUTTON ===================  -->
      <div class="pagina-noticias__noticias__botao">
        <button>
          <label for="categorias">Filtrar por categoria:</label>
          <select id="categorias" (change)="aplicarFiltro($event)">
            <option value="#"></option>
            <option *ngFor="let categoria of categorias" [value]="categoria.categoria">
              {{ categoria.categoria }}
            </option>
          </select>
        </button>
      </div>

      <div class="line-separator" style="border: 1px solid var(--color-text); width: 100%; margin: 4% 0"></div>

      <div class="mural-container" *ngIf="dadosDaPaginaAtual">
        <!--  =================== CARD HISTÓRIAS ===================  -->
        <div class="card-shadow card" *ngFor="let historia of dadosDaPaginaAtual">
          <div class="card-content">

            <!-- <img src="../../../assets/image 2.png" alt="" class="card-img"> -->

            <div class="card-info">
              <h3 class="title-card">{{historia.titulo}}</h3>
              <p class="subtitle-card">{{historia.texto | limitarPalavras: 200 }}</p>
              <a class="btn btn-lerMais" (click)="selecionarInformacao(historia.id, historia.idTipoInformacao, historia.titulo, historia.texto, historia.dataHora, historia.img)">Ler mais</a>
            </div>
          </div>
        </div>
      </div>

      <div class="paginators">
        <button (click)="carregarProximaPagina(false)" class="btn-voltar" [disabled]="!voltarPagina">
          <span class="material-symbols-outlined icon-voltar">
            arrow_back_ios
          </span>
        </button>

        <span class="number-page"
          *ngFor="let paginas of totalPaginasArray"
          [ngClass]="{'page-active': paginaAtual === paginas}"
          >{{paginas}}
        </span>

        <button (click)="carregarProximaPagina(true)" class="btn-passar" [disabled]="!avancarPagina">
          <span class="material-symbols-outlined icon-avancar">
            arrow_forward_ios
          </span>
        </button>
      </div>
    </section>

    <section class="mapa-historias">
      <div class="texts-mapa">
        <h1 class="title-mapa">
          Veja de onde são contadas as <span class="mark-title">Histórias</span>
        </h1>

        <p class="subtitle-mapa">
          Você não está sozinho(a). Receba e ofereça apoio na companhia
          de outros cuidadores que compreendem a sua dor.
        </p>
      </div>

      <app-mapa-depoimentos [estados]="estados"></app-mapa-depoimentos>
    </section>

    <!--  =================== COMPARTILHAR HISTÓRIAS AREA ===================  -->
    <app-compartilhar-historia></app-compartilhar-historia>

    <!--  =================== VER DIREITOS ===================  -->
    <app-ver-direitos></app-ver-direitos>

    <!--  =================== NEWSLATTER ===================  -->
    <app-newslatter></app-newslatter>
  </div>
</main>

<!--  =================== SCROLL TO TOP ===================  -->
<app-scroll-top></app-scroll-top>

<!--  =================== FOOTER ===================  -->
<app-footer></app-footer>
