<!--  =================== NAVBAR ===================  -->
<app-navbar></app-navbar>

<!--  =================== DEPOIMENTOS ===================  -->
<main class="depoimentos-area">
  <div class="depoimentos-container">

    <!--  =================== NAVIGATION PAGES ===================  -->
    <div class="navegation-pages">
      <p class="nav-home" routerLink="/home">Home</p>
      <span class="material-symbols-outlined icon">
        arrow_forward_ios
      </span>
      <span class="nav-router" routerLink="/depoimentos" routerLinkActive="active">Depoimentos</span>
    </div>

    <!--  =================== TEXTOS DEPOIMENTOS ===================  -->
    <div class="texts-depoimentos">
      <h1 class="title-depoimentos">Mural de <span class="mark-title">histórias</span></h1>
      <p class="subtitle-depoimentos">
        Você não está sozinho(a). Receba e ofereça apoio na companhia
        de outros cuidadores que compreendem a sua dor.
      </p>
    </div>

    <!--  =================== MURAL DE HISTÓRIAS ===================  -->
    <section class="mural-historias">
      <!--  =================== FILTRO BUTTON ===================  -->
      <div class="filtro-area">
        <select class="filtro" name="" id="">
          <option selected disabled>Filtrar por: </option>
        </select>
      </div>
      <div class="mural-container">
        <!--  =================== CARD HISTÓRIAS ===================  -->
        <div class="card-shadow card" *ngFor="let historia of historias">
          <div class="card-content">

            <!-- <img src="../../../assets/image 2.png" alt="" class="card-img"> -->

            <div class="card-info">
              <h3 class="title-card">{{ historia.titulo }}</h3>
              <p class="subtitle-card">{{ historia.texto }}</p>
              <a href="" class="btn btn-lerMais">Ler mais</a>
            </div>
          </div>
        </div>
      </div>

      <div class="paginators">
        <a class="btn-voltar">
          <span class="material-symbols-outlined icon-voltar">
            arrow_back_ios
          </span>
        </a>
        <span class="number-page">1</span>
        <a class="btn-passar">
          <span class="material-symbols-outlined icon-avancar">
            arrow_forward_ios
          </span>
        </a>
      </div>
    </section>

    <section class="mapa-historias">
      <div class="texts-mapa">
        <h1 class="title-mapa">
          Veja de onde são contadas as <span class="mark-title">Histórias</span>
        </h1>

        <p class="subtitle-mapa">
          Você não está sozinho(a). Receba e ofereça apoio na companhia
          de outros cuidadores que compreendem a sua dor.
        </p>
      </div>
      <div class="mapa-container">

        <!-- <canvas> -->
          <img src="../../../assets/Mapa.svg" alt="Mapa do Brasil" class="mapa-brasil">
        <!-- </canvas> -->

      </div>
    </section>

    <!--  =================== COMPARTILHAR HISTÓRIAS AREA ===================  -->
    <app-compartilhar-historia></app-compartilhar-historia>

    <!--  =================== VER DIREITOS ===================  -->
    <app-ver-direitos></app-ver-direitos>

    <!--  =================== NEWSLATTER ===================  -->
    <app-newslatter></app-newslatter>
  </div>
</main>

<!--  =================== FOOTER ===================  -->
<app-footer></app-footer>
